COMPOSE_PROJECT_NAME=lamp-store

POSTGRES_IMAGE_TAG=16-alpine

POSTGRES_USER=lamp
POSTGRES_PASSWORD=lamp


PRODUCTS_SERVICE_HOST_PORT=8001
ORDERS_SERVICE_HOST_PORT=8002
ADMIN_SERVICE_HOST_PORT=8003


# этих переменных не касаются.
PRODUCTS_DB_HOST_PORT=5433
ORDERS_DB_HOST_PORT=5434
ADMIN_DB_HOST_PORT=5435

INTERNAL_API_KEY=k7Qx2mR9vT4wLp8NzB3sYd6HjF1aCgE51

FIRST_ADMIN_EMAIL=admin@lampstore.dev
FIRST_ADMIN_PASSWORD=super-strong-password